RAPIDAPI_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=nvidia/llama-3.1-nemotron-70b-instruct
NUMVERIFY_API_KEY=
SERPAPI_API_KEY=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
VITE_TELEGRAM_BOT_TOKEN=
VITE_TELEGRAM_CHAT_ID=
GOOGLE_CSE_ID=53a0041f2f24f4e3b
GOOGLE_CSE_API_KEY=
